@font-face {
    font-family: 'Age';
    src:url('../fonts/Age.ttf.woff') format('woff'),
        url('../fonts/Age.ttf.svg#Age') format('svg'),
        url('../fonts/Age.ttf.eot'),
        url('../fonts/Age.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArcadeClassic';
    src:url('../fonts/ArcadeClassic.woff') format('woff'),
        url('../fonts/ArcadeClassic.svg#ArcadeClassic') format('svg'),
        url('../fonts/ArcadeClassic.eot'),
        url('../fonts/ArcadeClassic.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

*{
    /*font-family: 'Age';*/
	font-family: 'ArcadeClassic';
}
canvas{
	margin:auto;
}

.jcrop-holder div{
    border-radius: 50%;
}

#explica_sube > span{
    margin: 0 1vw;
}
#explica_sube {
    word-break: break-word;
}



#click_imagen_cortada{
    /*font-family: 'Age';*/
    font-family: 'ArcadeClassic';
}
.fontPreload{
    position:absolute;
    left:-100px;
}
#inputtunombre{
	background-color: rgba(0, 0, 0, 0.7) !important;
    border: 13px solid #f5f823;
    border: 2vw solid #f5f823;
    color: #f5f823;
    font-size: 40px;
    font-size: 5vw;
    padding: 20px 10px;
    padding: 3vw 2vw;
    width: 260px;
    width: 50vw;
    text-transform: uppercase;
}
#envia_tu_nombre{
	background-color: rgba(0, 0, 0, 0.7) !important;
    border: 13px solid #f5f823;
    border: 2vw solid #f5f823;
    color: #f5f823;
    font-size: 40px;
    font-size: 5vw;
    padding: 20px 10px;
    padding: 3vw 2vw;
    //width: 260px;
}
#volver_menu{
    color: #f5f823;
    font-size: 40px;
    font-size: 4vw;
    background: none;
    border: 1vw solid #f5f823;
    padding: 1vw;
    margin-top: 1vw;
}
#subefoto{
    display: none;
    text-align: center;
    position: absolute;
    top: 400px;
    top: 16vw;
    /* margin-top: -400px; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #f5f823;
    font-size: 40px;
    font-size: 4vw;
}

#subefoto input{
    color: #f5f823;
    font-size: 40px;
    font-size: 3vw;
    background: none;
    border: 1vw solid #f5f823;
    padding: 1vw;
}


#fakeinput{
      border: 1vw solid #f5f823;
      font-size: 4vw;
      width: 50%;
      text-align: center;
      margin-left: 23%;
      padding: 2%;
      margin-top: 3vw;
      cursor: pointer;
}

.jcrop-tracker{
  border: none !important;
}
.jcrop-holder div{
  border: 0.4vw solid;
}
.jcrop-holder div div{
  border: none;
}

#contiene_foto_subida{
    display: none;
    text-align: center;
    position: absolute;
    top: 400px;
    top: 10vw;
    /* margin-top: -400px; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #f5f823;
    font-size: 40px;
    font-size: 4vw;
}

#contiene_foto_subida input{
    color: #f5f823;
    font-size: 40px;
    font-size: 4vw;
    background: none;
    border: 1vw solid #f5f823;
    padding: 1vw;
    margin-top: 1vw;
}
.jcrop-holder{
    margin: auto;
}
#contiene_mandapuntos{
	display: none;
    text-align: center;
    position: absolute;
    top: 50px;
    top: 4vw;
    /* margin-top: -400px; */
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    }

#puntos{
    color: #f5f823;
    font-size: 100px;
    font-size: 10vw;
    line-height: 1em;
    margin:0;
    //text-transform: uppercase;
}
#texto_fin{
    color: #f5f823;
    font-size: 60px;
    font-size: 6vw;
    line-height: 1em;
    margin:0;
    //text-transform: uppercase;
}
#envia_tus_puntos{
    color: #f5f823;
    font-size: 60px;
    font-size: 6vw;
    line-height: 1em;
    margin:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}
#contiene_clasificacion{
	color: #f5f823;
	font-size: 40px;
    font-size: 4vw;
	line-height: 1.1em;
	margin: 0;
	position: relative;
	/* top: 550px; */
	/* margin-top: -470px; */
	width: 80%;
    max-width: 700px;
	margin:0;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
	text-align: left;
    padding: 0;
}

.nombre_clasifica{
	text-transform: uppercase;
}

.nombre_clasifica:after {
    content:"............................................................................................................................................"
}

dl {
	overflow: hidden;
	margin: 0;
}
dt {
	float: left;
	margin: 0;
	text-transform: uppercase;
}
dd {
	float: right;
	margin: 0;
}
/* That's the leader! */
dl:after {
	content: "............................................................................................................................................";
	display: block;
	overflow: hidden;
	height: 1em;
}
#titulo_nivel:after{
    content: "";
    display: block;
    overflow: hidden;
    height: 1em;
    text-align: center;
}
#titulo_nivel{
    height: 1.4em;
}
/*
canvas{
  width: 100%;
  height: auto;
}*/